{
  "trayMenu": [
    {
      "label": "copper",
      "click": "function() { showMainWindow();}"
    },
    {
      "label": "Item2",
      "type": "radio"
    },
    {
      "label": "Item3",
      "type": "radio",
      "checked": "true"
    },
    {
      "type": "separator"
    },
    {
      "label": "Exit",
      "click": "function() {closeAllWindows();app.quit();}"
    }
  ],
  "theme": "light",
  "offlineMode": "false"
}