################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/desktop/ipch
/desktop/Debug
/desktop/Release
/desktop/Win32
/desktop/x64
/desktop/.vs
/desktop/copper.vcxproj.filters
/desktop/copper.VC.VC.opendb
/desktop/copper.VC.db
/node_modules
/out
npm-*
debug.*
