div#header{background-color: #DA8A67}
div#content{background-color: #DA8A67}
div#footer{background-color: #DA8A67}
div#statusbar{background-color: #DA8A67; color: ghostwhite}
div#addressbar{background-color: #DA8A67; color: lightgrey;border: #DA8A67;font-size:0.85em}