div#header{background-color: #222}
div#content{background-color: #222}
div#footer{background-color: #222}
div#menubar {
    background-color:#222
}
#menu a{
    /*border:1px solid #333;*/
    color: grey;
    background-color:#222;
}

#menu a:hover{
    color:#333;
    background-color:#f1f1f1;
}

#navbar-button a{
    /*border:1px solid #333;*/
    color:#f1f1f1;
    background-color:#333;
}

#navbar-button a:hover{
    color:#333;
    background-color:#f1f1f1;
}

#menu li ul a hr{ 
    border-color: grey;
}

#menu li ul a div{
    text-shadow: lightgrey;
    color: #666;
}

div#navbar {
    background-color:#333;
}
