div#header{background-color: ghostwhite}
div#content{background-color: ghostwhite}
div#footer{background-color: ghostwhite}
div#menubar {
    background-color:ghostwhite;
}
#menu a{
    /*border:1px solid #333;*/
    color: grey;
    background-color:ghostwhite;
}

#menu a:hover{
    color:ghostwhite;
    background-color:#333;
}

#navbar-button a{
    /*border:1px solid #333;*/
    color:#333;
    background-color:ghostwhite;
}

#navbar-button a:hover{
    color:ghostwhite;
    background-color:#333;
}

#menu li ul hr{
    border-color: grey;
}

#menu li ul a div{
    text-shadow: lightgrey;
    color: #666;
}

div#navbar {
    background-color:ghostwhite;
}
